
$color-primario:rgb(0, 255, 171);
$color-secundario: rgb(113, 239, 163);
$color-terciario: rgb(31, 171, 137);
$color-cuarto:rgb(98, 210, 162);
$color-quinto: rgba(64, 243, 216, 0.661);
$color-sexto: rgba(210, 224, 222, 0.858);
